.eksplisit {
    width: 100px; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.title {
    width: 200px; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid lightgrey;
 
}